@use "../abstracts/variables"as globVar;
@use "../mixins"as mix;



.news-card_small {
  width: 100%;

  &_image {
    @include mix.aspect-ratio(370, 304);
    position: relative;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.4s all ease-out;
    }
  }

  &_content {
    h5 {
      color: rgba($color: globVar.$color-black, $alpha: 0.4);
      margin-top: mix.rem(30);

      @include mix.breakpoint(1279) {
        margin-top: mix.rem(25);
      }
    }

    h4 {
      max-width: mix.rem(326);
      margin-top: mix.rem(40);
      text-transform: capitalize;

      @include mix.breakpoint(1279) {
        margin-top: mix.rem(30);
      }
    }
  }

  &:hover {
    @include mix.min-breakpoint(1279) {
      .news-card_small_image {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.portfolio-card {
  width: 100%;
  height: 100%;
  border: 1px solid rgba($color: globVar.$color-black, $alpha: 0.1);
  border-radius: mix.rem(25);
  display: block;
  box-sizing: border-box;

  @include mix.breakpoint(991) {
    display: block;
  }

  &_image {
    @include mix.aspect-ratio(355, 257);
    min-height: mix.rem(257);
    position: relative;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &_content {
    margin: mix.rem(45) mix.rem(45) mix.rem(30) mix.rem(60);

    @include mix.breakpoint(767) {
      margin: mix.rem(45) mix.rem(35) mix.rem(30) mix.rem(60);
    }

    span {
      font-size: mix.rem(20);
      line-height: mix.rem(28);
      font-weight: 400;
      font-family: globVar.$body-font;
      top: mix.rem(-17);
      left: mix.rem(-35);
      color: var(--color-dark2);
    }

    h3 {
      color: var(--color-dark-brown);
      margin-bottom: mix.rem(30);
      // font-size: mix.rem(40);
      // line-height: mix.rem(48);

      @include mix.breakpoint(767) {
        // font-size: mix.rem(30);
        // line-height: mix.rem(36);
        max-width: mix.rem(215);
      }
    }

    p {
      // font-size: mix.rem(20);
      font-family: globVar.$body-font-alt;
      letter-spacing: 0.093px;
      color: rgba($color: globVar.$color-black, $alpha: 0.6);
    }
  }
}

.gallery-card {
  .title {
    margin-bottom: mix.rem(20);
    justify-content: space-between;
    align-items: center;

    @include mix.breakpoint(991) {
      order: 2;
      justify-content: flex-start;
      gap: mix.rem(15);
      margin-bottom: 0;

      span {
        font-size: mix.rem(20);
        line-height: mix.rem(28);
      }

      h5 {
        font-size: mix.rem(16);
        line-height: mix.rem(25);
      }
    }
  }

  .img-wrap {
    @include mix.aspect-ratio(850, 485);

    @include mix.breakpoint(991) {
      order: 1;
    }
  }

  .content {
    justify-content: space-between;

    p {
      max-width: clamp(mix.rem(317), mix.vw(317), mix.vw(317));
      text-transform: capitalize;
    }

    @include mix.breakpoint(991) {
      order: 3;
      flex-wrap: wrap;
      margin-inline-start: mix.rem(38);

      p {
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: mix.rem(20);
      }

      h4,
      p {
        width: 100%;
      }
    }

    @include mix.breakpoint(767) {
      h4 {
        font-size: mix.rem(30);
        line-height: mix.rem(42);
      }
    }
  }
}

.brand-list-section {
  .brand-list {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    @include mix.breakpoint(991) {
      // padding:  0 !important;
      // border-bottom: 0
    }

    @include mix.breakpoint(767) {
      &:first-child {
        // padding-top: 0 !important;
      }
    }

    >h3 {
      width: 5%;
      opacity: 0;

      @include mix.breakpoint(991) {
        // display: none;
      }
    }
  }

  .card-wrapper {
    width: 87.6%;
    gap: mix.rem(16);
    justify-content: flex-start;

    @include mix.breakpoint(1279) {
      width: 91%;
    }

    @include mix.breakpoint(767) {
      gap: mix.rem(8);
      width: 82%;
    }
  }
}

.brand-card {
  // width: calc(33.33% - mix.rem(32));
  width: 32%;
  border-radius: mix.rem(25);
  height: clamp(mix.rem(255), 28.4vh, 28.4vh);
  background-color: rgba($color: #000000, $alpha: 0.04);
  box-sizing: border-box;
  padding: mix.rem(25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transform: translateY(mix.rem(80));

  @include mix.breakpoint(991) {
    width: calc(50% - mix.rem(8));
    height: mix.rem(200);
  }

  @include mix.breakpoint(767) {
    width: calc(50% - mix.rem(4));
    height: mix.rem(105);
    padding: mix.rem(12);
  }

  .logo {
    position: relative;
    transition: 0.3s all ease-out;

    img {
      max-width: 100%;
      height: auto;
      transition: 0.3s all ease-out;

      @include mix.breakpoint(767) {
        max-width: 75%;
      }
    }

    h6 {
      margin-top: mix.rem(8);
      opacity: 0;
      visibility: hidden;
      transition: 0.2s all ease-out;
      color: globVar.$color-white;
    }
  }

  h6 {
    font-size: mix.rem(14);
    line-height: mix.rem(32);
    color: rgba($color: #000000, $alpha: 0.3);

    @include mix.breakpoint(991) {
      display: none !important;
    }
  }

  .botton {
    position: absolute;
    height: mix.rem(50);
    bottom: mix.rem(30);
    left: 50%;
    transform: translateX(-50%);
    width: 80%;

    @include mix.breakpoint(767) {
      display: none !important;
    }

    .ctas {
      opacity: 0;
      visibility: hidden;
      display: flex;
      gap: mix.rem(20);
      transition: 0.3s all ease-out;
      transform: translateX(20px);

      a {
        padding: mix.rem(15) mix.rem(20);
        font-size: mix.rem(14);
        line-height: 1;
        font-family: globVar.$body-font;
        text-transform: capitalize;
        border: 1px solid globVar.$color-white;
        color: globVar.$color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        transition: 0.3s all ease;

        &:hover {
          @include mix.min-breakpoint(1200) {
            background-color: globVar.$color-white;
            color: globVar.$color-black;
          }
        }
      }
    }

    h6 {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100%;
      text-align: center;
    }
  }

  .img-wrap {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-out;

    @include mix.breakpoint(767) {
      display: none !important;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }

  &:hover {
    @include mix.min-breakpoint(1279) {
      .logo {
        transform: translateY(-40px);

        img {
          filter: invert(1);
        }

        h6 {
          opacity: 1;
          visibility: visible;
        }
      }

      .botton {
        .ctas {
          opacity: 1;
          transform: translateX(0);
          visibility: visible;
        }

        h6 {
          opacity: 0;
          visibility: hidden;
        }
      }

      .img-wrap {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.brand-grid-section {
  @include mix.breakpoint(991) {
    margin-top: mix.rem(70);
  }

  @include mix.breakpoint(767) {
    margin-top: mix.rem(50);
  }

  .card-wrapper {
    .brand-card {
      height: clamp(mix.rem(392), 43.6vh, 43.6vh);
      transition: 0.3s all ease-out;
      width: 25%;

      @include mix.breakpoint(1279) {
        width: 33.33%;
        height: mix.rem(230);
      }

      @include mix.breakpoint(767) {
        height: mix.rem(186);
        width: calc(50% - mix.rem(1.5));
      }

      .img-wrap {
        height: mix.rem(145);
        width: mix.rem(145);
        border-radius: 100%;
        top: mix.rem(30);
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
      }

      .logo {
        @include mix.breakpoint(767) {
          max-width: 90%;
        }

        h6 {
          color: rgba($color: globVar.$color-white, $alpha: 0.3);
        }
      }

      .ctas {
        a {
          border-radius: mix.rem(25);
        }
      }

      &:hover {
        @include mix.min-breakpoint(1279) {
          background-color: var(--color-dark-brown);

          .logo {
            transform: translateY(50px);
          }
        }


      }
    }
  }
}



.news-listing-card {
  padding: clamp(mix.rem(30), mix.vw(50), mix.vw(50)) clamp(mix.rem(50), mix.vw(70), mix.vw(70)) clamp(mix.rem(30), mix.vw(50), mix.vw(50)) clamp(mix.rem(40), mix.vw(65), mix.vw(65));
  box-sizing: border-box;
  width: 38%;
  border-bottom: 1px solid transparent;
  text-transform: capitalize;
  z-index: 2;

  // cursor: pointer;
  @include mix.breakpoint(991) {
    opacity: 0;
    transform: translateY(mix.rem(30));
    will-change: transform, opacity;
    // border-color: rgba($color: #000000, $alpha: 0.1) !important;
  }

  &.b {
    border-color: rgba($color: #000000, $alpha: 0.1);
  }

  @include mix.breakpoint(991) {
    width: 50%;
    padding: mix.rem(20) mix.rem(40);
  }

  @include mix.breakpoint(767) {
    border-bottom: 0;
    width: 100%;
    padding: 0 mix.rem(20) mix.rem(40) mix.rem(20);

    &:last-child {
      padding-bottom: 0 !important;
    }
  }

  a {
    z-index: 2;
    // display: block;
    position: relative;
    opacity: 0;

    @include mix.breakpoint(991) {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.04);
    transition: 0.3s all ease;
    border-radius: 0;
    opacity: 0;
  }

  h6 {
    font-size: mix.rem(16);
    line-height: mix.rem(25);
    margin-bottom: mix.rem(20);
    z-index: 2;
    opacity: 0;
    position: relative;

    @include mix.breakpoint(991) {
      opacity: 1;
    }
  }

  .img-wrap {
    @include mix.aspect-ratio(400, 321);
    margin-bottom: mix.rem(20);
    z-index: 2;

    @include mix.breakpoint(991) {
      @include mix.aspect-ratio(335, 288);
    }
  }

  h4 {
    max-width: clamp(mix.rem(323), mix.vw(323), mix.vw(323));
    margin-bottom: mix.rem(25);
    z-index: 2;
    opacity: 0;
    position: relative;

    @include mix.breakpoint(991) {
      opacity: 1;
    }
  }

  p {
    margin-bottom: mix.rem(25);
    max-width: clamp(mix.rem(366), mix.vw(366), mix.vw(366));
    z-index: 2;
    opacity: 0;
    position: relative;

    @include mix.breakpoint(991) {
      opacity: 1;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    .img-wrap {
      opacity: 0;
      transform: translateY(mix.rem(40));

      @include mix.breakpoint(991) {
        opacity: 1;
        transform: none;
      }
    }
  }

  &:nth-child(odd) {
    border-right: 1px solid transparent;
    z-index: 2;
    transition: 0.1s border-color ease;

    &.b {
      border-color: rgba($color: #000000, $alpha: 0.1);
    }

    @include mix.min-breakpoint(991) {
      transition: 0.3s border-color ease;
    }

    @include mix.breakpoint(767) {
      border-bottom: 0;
    }
  }

  &:nth-child(4n - 2),
  &:nth-child(4n - 1) {
    width: 62%;
    padding: clamp(mix.rem(30), mix.vw(50), mix.vw(50)) clamp(mix.rem(40), mix.vw(65), mix.vw(65)) clamp(mix.rem(30), mix.vw(50), mix.vw(50)) clamp(mix.rem(50), mix.vw(70), mix.vw(70));

    @include mix.breakpoint(991) {
      width: 50%;
      padding: mix.rem(20) mix.rem(40);
    }

    @include mix.breakpoint(767) {
      padding: 0 mix.rem(20) mix.rem(40) mix.rem(20);

      &:last-child {
        padding-bottom: 0 !important;
      }

      width: 100%;
    }

    .img-wrap {
      @include mix.aspect-ratio(768, 616);

      @include mix.breakpoint(991) {
        @include mix.aspect-ratio(335, 288);
      }
    }
  }

  &:hover {
    @include mix.min-breakpoint(1200) {
      &:after {
        border-radius: 0 mix.rem(25) mix.rem(25) 0;
        opacity: 1;
      }
    }
  }

  &:nth-child(even) {
    &:hover {
      @include mix.min-breakpoint(1200) {
        &:after {
          border-radius: mix.rem(25) 0 0 mix.rem(25);
        }
      }
    }
  }

  &:not(.load) {
    .img-wrap {
      opacity: 0;
      transform: translateY(mix.rem(40));

      @include mix.breakpoint(991) {
        opacity: 1;
        transform: none;
      }
    }
  }
}

.benefit-card {
  width: 100%;
  padding: clamp(mix.rem(70), mix.vw(70), mix.vw(70)) clamp(mix.rem(40), mix.vw(40), mix.vw(40)) clamp(mix.rem(70), mix.vw(70), mix.vw(70)) clamp(mix.rem(50), mix.vw(50), mix.vw(50));
  border-right: 1px solid transparent;
  // border-top: 1px solid transparent;

  cursor: pointer;
  z-index: 2;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(clamp(mix.rem(90), mix.vw(90), mix.vw(90)));
  transition: 0.3s border-color ease-out;

  &.b {
    border-color: rgba($color: #000000, $alpha: 0.1);
  }

  @include mix.breakpoint(991) {
    padding: mix.rem(40) mix.rem(20);
  }

  @include mix.breakpoint(767) {
    border-right: none;
    padding: mix.rem(0) mix.rem(16);
  }

  &:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: calc(100% + 4px);
    width: 100%;
    background-color: var(--color-dark-brown);
    border-radius: mix.rem(25) mix.rem(25) 0 0;
    opacity: 0;
    transform: translateY(mix.rem(10));
    transition: 0.4s all ease-out;
    z-index: 1;

    @include mix.breakpoint(767) {
      display: none;
    }
  }

  .logo {
    max-width: fit-content;
  }

  img {
    max-width: 100%;
    margin-bottom: clamp(mix.rem(130), 19vh, mix.rem(170));
    position: relative;
    z-index: 2;
    transition: 0.3s all ease-out;

    @include mix.breakpoint(991) {
      margin-bottom: mix.rem(130);
    }

    @include mix.breakpoint(767) {
      filter: none !important;
      margin-bottom: mix.rem(30);
    }
  }

  h3 {
    margin-bottom: mix.rem(30);
    // max-width: clamp(mix.rem(300));
    position: relative;
    z-index: 2;
    transition: 0.3s all ease-out;

    @include mix.breakpoint(767) {
      color: rgba($color: globVar.$color-black, $alpha: 1) !important;
    }
  }

  p {
    color: rgba($color: globVar.$color-black, $alpha: 0.8);
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    transition: 0.3s all ease-out;

    @include mix.breakpoint(767) {
      color: rgba($color: globVar.$color-black, $alpha: 0.8) !important;
    }
  }

  &:hover {
    @include mix.min-breakpoint(1200) {
      &:after {
        transform: translateY(0);
        opacity: 1;
      }

      img {
        filter: invert(1);
      }

      h3 {
        color: globVar.$color-white;
      }

      p {
        color: rgba($color: #fff, $alpha: 0.8);
      }
    }
  }
}

.vacancy-card {
  width: calc(33.33% - mix.rem(20));
  background-color: var(--color-white);
  padding: clamp(mix.rem(30), mix.vw(30), mix.vw(30));
  box-sizing: border-box;
  height: clamp(mix.rem(275), mix.vw(275), mix.vw(275));
  transition: 0.3s all ease-out;
  opacity: 0;
  transform: translateY(30%);

  @include mix.breakpoint(991) {
    width: calc(50% - mix.rem(10));
  }

  @include mix.breakpoint(767) {
    width: 100%;
  }

  .top {
    gap: mix.rem(20);

    .sub-title {
      color: rgba($color: #000000, $alpha: 0.5);
      margin-bottom: mix.rem(10);
    }

    h6 {
      font-size: mix.rem(16);
      line-height: mix.rem(25);
      transition: 0.3s all ease-out;
    }
  }

  h4 {
    transition: 0.3s all ease-out;
    padding-inline-end: clamp(mix.rem(40), mix.vw(40), mix.vw(40));

    @include mix.breakpoint(1279) {
      padding-inline-end: 0;
    }

    svg {

      opacity: 0;
      position: absolute;
      height: clamp(mix.rem(30), mix.vw(30), mix.vw(30));
      width: clamp(mix.rem(30), mix.vw(30), mix.vw(30));
      top: 50%;
      right: 0;
      transform: translate(- mix.rem(20), -50%);
      transition: 0.3s all ease;
    }
  }

  &:hover {
    @include mix.min-breakpoint(1279) {
      background-color: var(--color-dark-brown);

      h4 {
        color: rgba($color: globVar.$color-white, $alpha: 1);

        svg {
          opacity: 1;
          transform: translate(0, -50%);
        }
      }

      .top {
        h6 {
          color: rgba($color: globVar.$color-white, $alpha: 0.5);

          &.prop {
            color: rgba($color: globVar.$color-white, $alpha: 1);
          }
        }
      }
    }
  }
}

.location-list-card {
  border: 0.8px solid rgba($color: #e6e6e6, $alpha: 1);
  padding: clamp(mix.rem(20), mix.vw(20), mix.vw(20));
  width: calc(33.33% - mix.vw(20));
  box-sizing: border-box;
  cursor: pointer;

  @include mix.breakpoint(1279) {
    // padding: mix.rem(10)
    width: calc(50% - mix.vw(20));
  }

  @include mix.breakpoint(767) {
    width: 100%;
    //  border-bottom: none;
    border-top: none;
    border: 0.8px solid transparent;
    transition: 0.3s border-color ease-out;

    &.b {
      border-color: rgba($color: #e6e6e6, $alpha: 1);
    }
  }

  &:first-child {
    @include mix.breakpoint(767) {
      border-top: 0.8px solid transparent;

      &.b {
        border-color: rgba($color: #e6e6e6, $alpha: 1);
      }
    }
  }

  .img-wrap {
    @include mix.aspect-ratio(330, 273);
    margin-bottom: mix.rem(20);
  }

  h5 {
    margin-bottom: mix.rem(20);
    line-height: 1;
  }

  h6,
  .h6 {
    color: rgba($color: globVar.$color-black, $alpha: 0.6);
    margin-bottom: mix.rem(20);
    display: block;
    line-height: 1;

    span {
      color: rgba(0, 101, 242, 0.20);
      // opacity: 0.6;
      padding-inline: mix.rem(5);
    }
  }

  .ctas {
    gap: mix.rem(20);

    a {
      min-width: auto !important;
      padding: mix.rem(15) mix.rem(20);
      font-size: clamp(mix.rem(14), mix.vw(14), mix.vw(14));
      line-height: 1;
      display: block;
    }
  }

  .number {
    margin-bottom: mix.rem(20);

    a {
      transition: 0.3s all ease-out;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: var(--color-blue);
        left: 0;
        transform: scaleX(0);
        transition: 0.3s all ease-out;
      }

      @include mix.min-breakpoint(1279) {
        &:hover {
          color: var(--color-blue);

          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}