@use "../abstracts/variables"as globVar;
@use "../mixins/"as mix;

.footer {
  background-color: globVar.$color-alto;
  color: globVar.$color-gray;

  .main-wrapper {
    background-color: globVar.$color-white;

  }

  &--links {
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 22px;

      li {
        list-style: none;
        font-weight: 500;
      }
    }
  }

  &--follow-us {
    h6 {
      font-size: mix.rem(16);
      font-weight: 400;
      line-height: mix.rem(19);
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }

    @include mix.breakpoint(991) {
      margin-top: mix.rem(55);
    }
  }

  &--bottom {
    a {
      color: globVar.$color-gray;
    }
  }

  .line {
    background-color: rgba($color: globVar.$color-gray, $alpha: 0.2);
    height: mix.rem(1);
  }

  .h-line {
    width: mix.rem(1);
    height: mix.rem(28);
    background-color: rgba($color: globVar.$color-gray, $alpha: 0.2);

    @include mix.breakpoint(767) {
      display: none;
    }
  }

  .copy-rights,
  .links {

    p,
    a {
      font-size: mix.rem(14);
      letter-spacing: 0.48px;

    }

  }
}