@use "../abstracts/variables"as globVar;
@use "../mixins/"as mix;



.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  @include mix.transition(all 0.4s ease);

  &.active {
    img {
      filter: invert(1);
    }
  }

  &.sticky {
    transform: translateY(0) !important;
    background-color: globVar.$color-alto;
    background-color: #d7c3bf;

    img {
      filter: invert(1);
    }

    .nav-icon {
      border-top: 1.5px solid #333;
      border-bottom: 1.5px solid #333;

    }

    .header--inner {
      padding: 15px 20px;
      align-items: center;

    }
  }

  &--inner {

    // padding: mix.rem(52) mix.rem(40) mix.rem(0);

    @include mix.breakpoint(992) {
      // padding: mix.cl(52.9) mix.cl(30) mix.cl(10);   
    }

    .lang-switch {
      a {
        color: var(--Spring-Wood, #EAE3DD);
        text-align: center;

        font-size: mix.rem(20);
        font-weight: 400;
        line-height: 26px;
        text-transform: capitalize;
      }
    }
  }

  .logo {
    display: flex;




    &-dark {
      display: none;
    }
  }

  &-toggle {
    display: flex;
    align-items: center;

  }


  // Mobile Menu
  .mobile-menu {
    cursor: pointer;
    // width: 80px;
    // height: 56px;


    @include mix.breakpoint(991.98) {
      order: 2;
    }

    &.active {
      .nav-icon {
        border: none;

        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .nav-icon {
    position: relative;
    width: 45px;
    height: 10px;
    display: block;
    border-top: 2.5px solid globVar.$color-light-brown-50;
    border-bottom: 2.5px solid globVar.$color-light-brown-50;
    transition: none;
    background: none;

    @include mix.breakpoint(767.98) {
      width: 36px;
    }

    &::before,
    &::after {
      content: "";
      width: 45px;
      height: 2px;
      display: inline-block;
      background: globVar.$color-gray;
      position: absolute;
      transform-origin: 50% 50% 0;
      -webkit-transform-origin: 50% 50% 0;
      -moz-transform-origin: 50% 50% 0;
      left: 0;
      top: 2px;
      opacity: 0;

      @include mix.breakpoint(767.98) {
        left: 2px;
      }
    }

    &::before {
      @include mix.transform(rotate3d(0, 0, 1, 45deg));
    }

    &::after {
      @include mix.transform(rotate3d(0, 0, 1, -45deg));
    }
  }

  &-search {
    padding: 0 20px;

    a {
      display: flex;

      svg {
        width: mix.cl(16);
      }

      path {
        @include mix.transition(.3s ease);
      }

      @include mix.min-breakpoint(1025) {
        &:hover {
          path {
            stroke: globVar.$color-brown;
          }
        }
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;

    .logo {
      .logo-light {
        &.active {
          filter: invert(1);
        }
      }
    }
  }

  &-right {
    .search {
      left: -3px;
      top: 3px;

    }

    .lang-switch {
      top: 5px;
      left: -2px;
    }
  }

  &-buttons {
    .main-btn {
      padding: mix.rem(11) mix.rem(20);
      font-size: mix.rem(16);
      line-height: 19px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      // display: flex;
      background-color: #C2986E;
      color: globVar.$color-light-brown-50;

      // @include mix.breakpoint(1024) {
      //   display: inline-block;

      // }

      &:hover {
        svg {
          right: 0;
        }
      }

      svg {
        position: relative;
        opacity: 1;
        top: 0;
      }
    }
  }



  &-light {
    .logo {
      &-dark {
        display: none;
      }

      &-light {
        display: block;
      }
    }

    .header-right ul li a {
      color: globVar.$color-white;

      &:active,
      &:focus {
        color: globVar.$color-brown;
      }

      @include mix.min-breakpoint(1025) {
        &:hover {
          color: globVar.$color-brown;
        }
      }
    }


  }

  &.top {
    transform: translateY(-100%);
    position: fixed;

    // background: globVar.$color-white;
    .header-inner {
      // padding: mix.cl(20) mix.cl(50);
      padding: mix.rem(40) mix.cl(40);

      @include mix.breakpoint(991.98) {
        padding: mix.cl(15) mix.cl(30);
      }
    }

    .logo {
      &-dark {
        display: block;
      }

      &-light {
        display: none;
      }
    }

    .header-right ul li a {
      color: globVar.$color-black;

      &:active,
      &:focus {
        color: globVar.$color-brown;
      }

      @include mix.min-breakpoint(1025) {
        &:hover {
          color: globVar.$color-brown;
        }
      }
    }



  }

}

// .mainMenu {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   // height: 100%;
//   height: auto;
//   opacity: 0;
//   visibility: hidden;
//   background-color: globVar.$color-alto;
//   @include mix.transition(all 0.5s);
//   z-index: 5;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   // overflow: hidden;
//   // align-items: flex-end;
//   // display: flex;
//   margin-bottom: mix.rem(150);

//   @include mix.breakpoint(1024) {
//     align-items: flex-end;
//     margin-bottom: mix.rem(120);

//   }

//   &-inner {
//     padding: mix.rem(40) mix.cl(40) mix.cl(13);
//     position: relative;
//     z-index: 1;
//     // height: calc(100svh - mix.cl(232));
//     height: max-content;
//     // overflow: auto;
//     width: 100%;

//     @include mix.breakpoint(1024) {
//       padding: mix.rem(40) mix.cl(40) mix.cl(13);
//     }

//     @include mix.breakpoint(1023.98) {
//       display: flex;
//       flex-direction: column;
//     }

//     @include mix.breakpoint(992) {
//       padding: mix.cl(0) mix.cl(30) mix.cl(10);
//       // height: calc(100svh - mix.cl(105));
//     }


//   }

//   &-nav {
//     position: relative;
//     z-index: 1;

//     @include mix.min-breakpoint(992) {
//       display: flex;
//       // padding-bottom: mix.cl(100);
//     }

//     ul {
//       margin: 0;
//       padding: 0;
//       list-style-type: none;
//     }
//   }

//   .nav-primary {
//     // @include mix.min-breakpoint(992) {
//     //   margin-inline-end: mix.cl(286);
//     // }

//     ul {
//       // grid-template-rows: repeat(2, auto);
//       // grid-template-columns: repeat(2, 1fr);
//       // display: grid;
//       // grid-column-gap: 181px;

//       @include mix.breakpoint(1024) {
//         grid-column-gap: 0;
//       }

//       @include mix.breakpoint(767) {
//         grid-template-columns: repeat(1, 1fr);
//       }

//     }

//     li {
//       // width: mix.rem(504);
//       // &:not(:last-child) {
//       //   margin-bottom: mix.cl(60);

//       //   @include mix.breakpoint(1199.98) {
//       //     margin-bottom: mix.cl(40);
//       //   }

//       //   @include mix.breakpoint(991) {
//       //     margin-bottom: mix.cl(20);
//       //     width: mix.rem(400);
//       //   }

//       //   @include mix.breakpoint(767) {
//       //     margin-bottom: mix.rem(25);
//       //     width: max-content;
//       //   }
//       // }

//       a {
//         // font-size: mix.cl(74);
//         font-size: mix.rem(60);
//         font-weight: 400;
//         line-height: 66px;
//         letter-spacing: -0.6px;
//         text-transform: capitalize;
//         color: globVar.$color-gray;
//         @include mix.transition(all 0.3s);
//         font-family: globVar.$heading-font;

//         &:active,
//         &:focus {
//           text-decoration: none;
//           color: globVar.$color-grenadier;
//         }

//         @include mix.min-breakpoint(1025) {
//           &:hover {
//             text-decoration: none;
//             color: globVar.$color-grenadier;
//           }
//         }

//         // @include mix.breakpoint(1199.98) {
//         //   font-size: mix.cl(50);
//         // }


//         @include mix.breakpoint(767) {
//           font-size: mix.rem(36);
//           line-height: 46px;
//         }

//       }
//     }
//   }

//   .nav-secondary {
//     margin-block-start: mix.cl(31);
//   }

//   .header-right {
//     margin-top: mix.rem(35);
//     padding-bottom: mix.rem(20);

//     position: relative;
//     z-index: 1;

//     // padding-bottom: mix.cl(35);
//     @include mix.breakpoint(767) {
//       margin-top: mix.rem(25);

//     }
//   }

//   .langSelect {
//     width: mix.cl(113);
//     margin-inline-end: mix.cl(12);
//     display: inline-flex;

//     form,
//     select {
//       width: 100%;
//     }

//   }
// }

.blog__item-1 {
  a {
    // font-size: mix.cl(74);
    font-size: mix.rem(60);
    font-weight: 400;
    line-height: 66px;
    letter-spacing: -0.6px;
    text-transform: capitalize;
    color: globVar.$color-gray;
    @include mix.transition(all 0.3s);
    font-family: globVar.$heading-font;
    text-decoration: none !important;

    &:active,
    &:focus {
      text-decoration: none;
      color: globVar.$color-grenadier;
    }

    @include mix.min-breakpoint(1025) {
      &:hover {
        text-decoration: none;
        color: globVar.$color-grenadier;
      }
    }

    // @include mix.breakpoint(1199.98) {
    //   font-size: mix.cl(50);
    // }


    @include mix.breakpoint(767) {
      font-size: mix.rem(36);
      line-height: 46px;
    }

  }
}

.mainMenu-open {
  overflow: hidden;

  // .mainMenu {
  //   opacity: 1;
  //   visibility: visible;

  //   @include mix.breakpoint(1024.98) {
  //     @include mix.transform(translateX(0));
  //   }

  //   @include mix.breakpoint(992) {
  //     height: 100%;
  //   }
  // }

  .header.top {
    background: transparent;
  }

  .header-light {
    .logo {
      &-dark {
        display: block;
      }

      &-light {
        display: none;
      }
    }

    .header-right ul li a {
      color: globVar.$color-black;

      &:active,
      &:focus {
        color: globVar.$color-brown;
      }

      @include mix.min-breakpoint(1025) {
        &:hover {
          color: globVar.$color-brown;
        }
      }
    }




  }
}

// .searchModal {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   width: 100%;
//   @include mix.transition(opacity 0.3s ease);
//   opacity: 0;
//   overflow: hidden;
//   z-index: -5;

//   &[modal-show="false"] {
//     opacity: 0;
//     z-index: -5;
//   }

//   &.active,
//   &[modal-show="true"] {
//     opacity: 1;
//     z-index: 12;
//   }

//   &-content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: relative;
//     background-color: globVar.$color-white;
//     padding: mix.cl(39) mix.cl(70);

//     @include mix.breakpoint(1199.98) {
//       padding: mix.cl(20) mix.cl(30);
//     }

//     @include mix.breakpoint(767.98) {
//       flex-wrap: wrap;
//       padding: mix.cl(45) mix.cl(35);
//     }
//   }

//   &-close {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 81px;
//     height: 81px;
//     border: 1px solid rgba(globVar.$color-black, 0.15);
//     border-radius: 50%;
//     transition: all 0.3s;
//     position: absolute;
//     right: mix.cl(70);
//     top: 0;
//     bottom: 0;
//     margin: auto 0;
//     @include mix.transition(all 0.3s);

//     svg {
//       path {
//         @include mix.transition(all 0.3s);
//       }
//     }

//     &:active,
//     &:focus {
//       background-color: globVar.$color-brown;
//       border-color: globVar.$color-brown;

//       svg {
//         path {
//           stroke: globVar.$color-white;
//         }
//       }
//     }

//     @include mix.min-breakpoint(1025) {
//       &:hover {
//         background-color: globVar.$color-brown;
//         border-color: globVar.$color-brown;

//         svg {
//           path {
//             stroke: globVar.$color-white;
//           }
//         }
//       }
//     }

//     @include mix.breakpoint(1199.98) {
//       width: 48px;
//       height: 48px;
//     }

//     @include mix.breakpoint(767.98) {
//       top: 15px;
//       right: 15px;
//       margin: 0;
//     }
//   }
// }

// .searchBox {
//   display: flex;
//   align-items: center;

//   @include mix.breakpoint(767.98) {
//     order: 2;
//     margin-top: mix.cl(42px);
//   }

//   &-btn {
//     background: transparent;
//     border: none;
//     margin-inline-end: mix.cl(38);
//     cursor: pointer;

//     @include mix.breakpoint(767.98) {
//       margin-inline-end: mix.cl(17);

//       svg {
//         width: 20px;
//       }
//     }
//   }

//   input {
//     padding-block-start: 0;
//     padding-block-end: mix.cl(10);
//     padding-inline: 0;
//     height: auto;
//     font-size: mix.cl(30);
//     border: none;
//     border-bottom: 1px solid rgba(globVar.$color-black, .2);
//     box-shadow: none;
//     color: globVar.$color-black;
//     line-height: 130%;
//     border-radius: 0;
//     background: transparent;
//     width: mix.cl(900);
//     font-weight: 300;

//     &:focus {
//       border-color: globVar.$color-brown;
//       box-shadow: none;
//     }

//     &::selection,
//     &:-webkit-autofill {
//       background-color: rgba(globVar.$color-white, 1);
//     }

//     &::placeholder {
//       color: rgba(globVar.$color-black, .3);
//     }

//     @include mix.breakpoint(1199.98) {
//       width: mix.cl(700);
//     }

//     @include mix.breakpoint(991.98) {
//       width: mix.cl(500);
//     }

//     @include mix.breakpoint(767.98) {
//       width: 100%;
//       font-size: mix.cl(20);
//     }
//   }
// }


// .modal-overlay {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   z-index: 11;
//   background: rgba(globVar.$color-black, 0.7);
//   opacity: 0;
//   visibility: hidden;
//   @include mix.transition(all 0.3s ease);
// }

// .overflow-hidden {
//   .modal-overlay {
//     opacity: 1;
//     visibility: visible;
//   }
// }


.headerTop {
  .mainMenu {
    padding-top: 100px;
  }
}