/* scss variables */

$body-font: 'Inria Serif',
sans-serif;
$heading-font:'Swear Display';
$body-weight-light: 300;

$body-font-size: 20px;
$body-font-size-large: 18px;
$body-font-size-medium: 17px;
$body-font-size-small: 16px;
$body-font-size-xs: 14px;


$body-font-color: #000;

// root colors
:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-red: hsla(10, 55%, 49%, 1);
    --color-brown: hsla(30, 41%, 60%, 1);

}

// Colors
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black: #000000;
$color-black-light: #e0e0e0;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-gray: #333;
$color-gray-light: #f7f7f7;
$color-red: #ff0000;

$color-light-brown:#E6DDD7;
$color-light-brown-50:#EAE3DD;

$color-alto:#D7C3BF;

$color-grenadier:#C24E38;
$color-yellow:#E9A831;
$color-brown:#C2986E;

// Transitions
$transitionEffect: cubic-bezier(.6, .04, .12, .96);

// Header
$header-height: 75px;
$header-breakpoint: 1024;