@use "../abstracts/variables"as globVar;
@use "../mixins/"as mix;

.vision {

    // Left Block
    &--left-block {
        width: 54%;
    }

    &--left-top-img {
        @include mix.aspect-ratio(537, 604);

    }

    &--left-wrapper {
        width: 73.9%;

    }

    &--left-bottom-img {
        @include mix.aspect-ratio(396, 445);
        transform: translateX(62.3%);

        @include mix.breakpoint(767) {
            transform: translateX(70.3%);

        }

    }


    // Right Block



    &--right-block {
        width: 33.3%;

        @include mix.breakpoint(992) {
            flex-direction: column-reverse;
        }

        p {
            font-size: mix.rem(30);
            font-weight: 300;
            line-height: 36px;

            /* 36px */
            @include mix.breakpoint(1024) {
                font-size: mix.rem(20);
                line-height: 30px;

            }
        }
    }

    &--right-top-img {
        @include mix.aspect-ratio(396, 445);

        @include mix.breakpoint(990) {
            order: 1;
        }
    }

}


.inset-0 {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    width: 100%;
}