@use "../abstracts/variables"as globVar;
@use "../mixins/"as mix;

.login-page {
    background-color: var(--color-white);
    min-height: 100vh;
    padding-top: mix.rem(200);

    .container {
        flex-direction: column;
        min-height: calc(100vh - mix.rem(200));
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-dark-brown);

        .login-page-header {
            h2 {
                max-width: mix.rem(690);
                text-align: center;
                margin-bottom: mix.rem(40);
            }
        }

        .login-page-content {
            .checkbox {
                margin-bottom: mix.rem(40);
            }

            .btn.btn-primary {
                display: inline-block;
                text-align: center;
                cursor: pointer;
                min-width: mix.rem(200);
                font-size: mix.vw(20);
                line-height: 1;
                font-weight: 400;
                border-radius: clamp(mix.rem(25), mix.vw(25), mix.vw(25));
                padding-inline: clamp(mix.rem(15), mix.vw(15), mix.vw(15));
                padding-block: clamp(mix.rem(15), mix.vw(15), mix.vw(15));
                text-transform: capitalize;
                transition: all 0.3s ease-out;

                background-color: var(--color-blue);
                color: var(--color-white);
                margin-inline-end: mix.rem(80);

                @include mix.min-breakpoint(1279) {
                    &:hover {
                        background-color: var(--color-dark-blue);
                    }
                }
            }
        }
    }

    .form-group {
        margin-bottom: 20px;
        position: relative;

        label {
            position: absolute;
            top: mix.rem(20);
            left: 20px;
            pointer-events: none;
            padding: 0;
            margin: 0;
            color: rgba(globVar.$color-black, 0.5);
            font-size: mix.rem(20);
            line-height: mix.rem(32);
            font-weight: 400;
            z-index: 9;
            @include mix.transition(font-size 0.3s globVar.$transitionEffect,
                top 0.3s globVar.$transitionEffect);

            @include mix.breakpoint(640) {
                font-size: 13px;
                line-height: 22px;
            }

            &.focus {
                top: 12px;
                font-size: 12px;

                @include mix.breakpoint(640) {
                    font-size: globVar.$body-font-size-small;
                }
            }

            .required {
                color: globVar.$color-red;
            }
        }

        &.active {
            label {
                top: 0;
                font-size: 12px;
            }
        }

        input,
        textarea {
            width: 100%;
            border: 0;
            padding: 25px 20px;
            margin: 0;
            border-radius: mix.rem(25);
            color: globVar.$color-black;
            border: 1px solid rgba(globVar.$color-black, 0.3);
            font-size: mix.rem(20);
            line-height: mix.rem(24);
            font-weight: 400;
            // height: 60px;
            min-width: mix.rem(500);

            &:hover {
                border: 1px solid rgba(globVar.$color-black, 0.5);
            }

            &:active {
                border: 1px solid globVar.$color-black;
            }
        }

        textarea {
            max-height: 164px;
            max-width: calc(100% - 0px);
            min-height: 120px;
            min-width: calc(100% - 0px);

            @include mix.breakpoint(991) {
                min-height: 60px;
            }
        }

        .buttons {
            padding-top: 15px;

            input {
                width: auto;
                background: none;
                border-radius: 25px;
                padding: 10px 20px;
                text-transform: uppercase;
                opacity: 1;
                width: 50%;
                text-align: center;
                letter-spacing: 2px;
                color: globVar.$color-black-50;
                font-size: globVar.$body-font-size-small;
                border: 1px solid globVar.$color-black;

                &:hover {
                    background: globVar.$color-black-50;
                    color: globVar.$color-white;
                }
            }
        }

        &.phone-label {
            label {
                left: 136px;
            }
        }

        &.attach-cv-label {
            label {
                position: unset;
            }
        }

        .formidable-dropzone {
            .dropzone-box {
                padding: 0;
                border: unset;
                display: flex;
                align-items: center;
                gap: 20px;

                .dz-message {
                    text-align: left;
                    margin: 0 0;
                    color: globVar.$color-black;
                    border: 1px solid rgba(globVar.$color-black, 0.3);
                    border-radius: 25px;

                    display: flex;
                    align-items: center;
                    padding: 20px 20px;
                    width: mix.rem(280);
                    height: 60px;

                    @include mix.breakpoint(420) {
                        min-width: fit-content;
                    }

                    &:before {
                        content: "Attach CV";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        order: 1;
                    }

                    &::after {
                        content: url("../../assets/images/attach_file.svg");
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        padding-right: 40px;
                    }
                }

                .btn-danger {
                    i {
                        &:before {
                            content: url("../../assets/images/close.svg");
                        }
                    }
                }

                .dropzone-item {
                    gap: 10px;
                }

                .dz-progress {
                    display: none;
                }

                .dz-filename {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }

        .form-check {
            &.custom-checkbox {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .form-check-input {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid rgba(globVar.$color-black, 0.1);
            }

            .custom-control-label {
                position: unset;

                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 32px;
                    color: globVar.$color-black;
                }
            }
        }
    }
}