// ROBOTO
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// Be Vietnam Pro
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

// @font-face {
//   font-family: "Bwmodelicalti";
//   src: url("./assets/fonts/bwmodelicaltibeta03-light.ttf") format("truetype");
//   font-weight: 300;
//   font-display: swap;
// }

@font-face {
  font-family: "Bwmodelicalti";
  src: url("../../assets/fonts/bwmodelicaltibeta03-bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

// @font-face {
//   font-family: "Opensans";
//   src: url("./assets/fonts/opensans-regular.ttf") format("truetype");
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Opensans";
//   src: url("./assets/fonts/opensans-bold.ttf") format("truetype");
//   font-weight: 700;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Opensans";
//   src: url("./assets/fonts/opensans-extrabold.ttf") format("truetype");
//   font-weight: 900;
// }
